.card {
  display: none;
  padding: 20px;
  border: 2px solid #810947;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	background-color: #f8f8f8;
	overflow: hidden;
}


.card img {
  display: block;
  margin: 0 auto;
   /* Center the image horizontally */
}
.active {
  display: block;
}
.container{
  text-align: center;
  padding:10px;
}
.content{
  font-size: 20px; 
    color: #810947;
    font-family: "Arial", sans-serif; 
    text-align: justify;
}



/* CSS */
button {
  align-self: center;
  background-color: #FFECFB;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(129, 9, 71,.9) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: rgb(129, 9, 71);
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size:15px;
  font-weight: bold;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(129, 9, 71,.9) 2px 8px 8px -5px;
  
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(129, 9, 71,.9) 2px 8px 4px -6px;
}
