* {
	box-sizing: border-box;
}
body {
	background-color: rgba(225, 211, 204, 0.7); /* Background color with 70% opacity */
		  
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E1D4C1", endColorstr="#E1D3CC", GradientType=1 );
	font-family: 'Calibri', 'Roboto', sans-serif;
}



/* Navbar links */


/* Change the color of links on hover */
.navbar a:hover {
	background-color: #ddd;
	color: black;
}
.row.padded_row,
.row.padded_row > div {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* layout and common global classes */
/* ---------------------------------------------------------------------- */

.chat_window {
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	background-color: #f8f8f8;
	overflow: hidden;
}

.top_menu {
	background-color: #fff;
	padding: 13px 0px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
	text-align: center;
	color: #811247;
	font-size: 20px;
	font-family: "Alegreya Sans SC", sans-serif;
}

/* messages inside the chatbox */
/* ---------------------------------------------------------------------- */

.messages {
	position: relative;
	list-style: none;
	padding: 20px 10px 0 10px;
	margin: 0;
	font-size: 16px;
	height: 500px;
	overflow: scroll;
	font-family: "Alegreya";
}

.messages .message {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	transition: all 0.5s linear;
	opacity: 0;
}

.messages .message .avatar {
	height: 40px;
	width: 40px;
	background-size: cover !important;
	border-radius: 50%;
	display: inline-block;
}

.messages .message .timestamp {
	font-size: 10px;
	font-weight: 300;
	text-align: right;
	margin-top: 5px;
}

.messages .message.appeared {
	opacity: 1;
}

.messages .message .text_wrapper {
	display: inline-block;
	padding: 20px;
	border-radius: 6px;
	min-width: 150px;
	position: relative;
}

.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
	top: 18px;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.messages .message .text_wrapper::after {
	border-width: 13px;
	margin-top: 0px;
}

.messages .message .text_wrapper::before {
	border-width: 15px;
	margin-top: -2px;
}

/* bot message */

.messages .message.left .avatar {
	float: left;
	background: url('./img/bot.png');
	size: 110px;
}

.messages .message.left .text_wrapper {
	background-color: #ededd2;
	margin-left: 20px;
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
	right: 100%;
	border-right-color: #ededd2;
}

.messages .message.left .timestamp {
	color: #474554;
}

/* user message */

.messages .message.right .avatar {
	float: right;
	background: url('./img/girl.jpg');
}

.messages .message.right .text_wrapper {
	background-color: #AECEBC;
	margin-right: 20px;
	float: right;
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
	left: 100%;
	border-left-color:#AECEBC;
}

.messages .message.right .timestamp {
	color: #0c2b37;
}

/* text input from user */

.bottom_wrapper {
	background-color: #fff;
	padding: 20px;
	bottom: 0;
	display: flex;
}

.bottom_wrapper #msg_input {
	flex-grow: 1;
	outline-width: 0;
	padding: 12px;
	font-size: 16px;
	font-family: "Alegreya";
	border: 1px solid #811247;
	border-radius: 50px;
	margin-right: 15px;
}

.app_button_1 {
	width: 140px;
	background-color: #A6597E; ;
	border-radius: 50px;
	cursor: pointer;
	padding: 12px;
	font-family: "Alegreya";
	color: white;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

/* faq section | bottom side*/
/* ---------------------------------------------------------------------- */

.panel-group {
	margin: 20px;
}

.panel-heading [data-toggle='collapse']:after {
	font-family: 'FontAwesome';
	content: '\f054';
	float: right;
	font-size: 18px;
	line-height: 22px;
	transition: all 0.2s linear;

	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-heading [data-toggle='collapse'].collapsed:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.firm-image img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}


/* Container styles */
.sliding-ad {
	width: 100%;
	overflow: hidden;
	position: relative;
  }
  
  /* Ad slide styles */
  .ad-container {
	display: flex;
	transition: transform 0.5s ease;
  }
  
  .ad-container a {
	width: 80%;
  }
  
  .ad-container img {
	width: 100%;
	display: block;
  }
  
  /* Previous and Next buttons styles */
  .prev,
  .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 50%;
	z-index: 1; /* Ensure buttons appear above the images */
  }
  
  .prev {
	left: 10px;
  }
  
  .next {
	right: 10px;
  }
  

/* Emergency Contacts Section */


.section-title {
	margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 34px;
    color: #333;
	margin: 0 auto;
	padding-bottom: 40px;
	font-family: "Alegreya Sans SC", sans-serif;
	color: #811247;
	padding-top: 40px;

}


.card {
	margin-top: 10px;
    border: none;
	margin: 10px auto 40px auto;
	margin-bottom: 40px;
	padding-right: 10px;
    border-radius: 5px;
    overflow: hidden;
	width: 80%;
    background-image: url('static/img/bg.png'); /* Correct the URL syntax */ /* Fit the background image within the card */
    background-repeat: no-repeat; /* Ensure the background image is not repeated */
    background-position: center center; /* Center the background image both vertically and horizontally */
 /* Rotate the background image by 90 degrees */
}


.card-body {
	
    font-family: "Alegreya Sans SC", sans-serif;
	font-size: 27px;
	color: #811247; 
    text-align: center;/* Text color for better visibility */
    background-size: contain; /* Fit the background image within the card */
    background-repeat: no-repeat; /* Ensure the background image is not repeated */
    background-position: center center; /* Center the background image both vertically and horizontally */
}


.card-text {
    font-size: 16px;
}

.card-text strong {
    font-weight: bold;
}


.vertical-line {
    border-left: 1px solid #811247; /* Adjust the color and thickness as needed */
    height: 80%; /* Make the line take up the full height of the column */
    position: absolute; /* Position the line absolutely within the column */
    top: 30; /* Align the line to the top of the column */
    left: 1%; /* Position the line in the center of the column */
}
