@font-face {
  font-family: 'Archivo Black';
  src: url('archivo-black.woff2') format('woff2'),
       url('archivo-black.woff') format('woff');
}
body {
    padding: 0px;
    margin: 0;
  }

  .top-header {
    display: flex;
    align-items: center;  
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Add if needed: Align items at the start and end */ 
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: #810947;
    height: 110px;
    margin: 0;
  }
  .logo-container {
    width: 105px; 
    height: 105px;
    margin-top: 15px;
    overflow: hidden; 
    padding-left: 10px;
}

.logo-img {
    width: 100%;
    height: auto;
}
  .user-name {
    color: #ffecfb;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 40px;
    text-align: left;
    padding-left: 10px;
    margin-right: auto;
    font-weight: bold;
  }
  .custom-hr {
    border-color: #811247; /* Change the color of the horizontal line */
}
  .user-menu {
    color: #ffecfb;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 15px;
    text-align: right;
    padding-right: 20px;
    padding-top: 7px;
    margin-right: 10px;
  }

  .user-menu-list{
    display: inline;
    font-size: 20px;
    padding: 0 10px;
    font-weight: bold;
    border-right: 1px solid #810947;
  }

  .user-menu-list:last-child {
    border-right: none; /* Remove border from the last list item */
  }

  .user-menu-list a{
  color: #ffebfc;
  text-decoration: none;
  }
  

  .user-menu-list a:hover {
    text-decoration: underline; /* Underline anchor text on hover */color:#ffeeff
  }

  .register-button {
    background-color: #A6597E;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;

}
.user-menu-list.last-list a {
  text-decoration: none; /* Remove underline by default */
}

.user-menu-list.last-list a:hover {
  text-decoration: none; /* Remove underline on hover */
}

.register-button:hover {
    background-color: #9a416b;
    transform: scale(1.09);
    font-size: 20px;
}


/* FOOTER */

.footer-hr {
  width: 80%; 
  border-top: 1px solid #ccc; /* Add other border properties as needed */
  margin-top: 10px; /* Adjust the margin as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
}
.site-footer {
  text-align: center; /* Align all contents to the center */
}

.site-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item {
  color: #811247;
  margin-top: 10px;
}

.footer-item p {
  color: #811247;
  margin-bottom: 15px;
}

.social-icons {
  list-style-type: none;
  padding: 0;
  color: #811247;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
  color: #811247;
}

.social-icons li a {
  color: #811247;
  font-size: 20px;
}

.social-icons li a:hover {
  color: #333;
}
.text-center {
  text-align: center;
  color:  #811247;
}
/* END OF FOOTER */

/* Disclaimer Section */


/* Disclaimer Section */
.disclaimer-section {
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.disclaimer-text {
  font-size: 16px;
  color: #777;
  font-family: "Alegreya";

}

.disclaimer-text{
  font-style: italic;
  margin-bottom: 8px;
}

.h3{
  font-family: "Alegreya";
  color: #811247; 

}